
:root {
  --alboRed: hsl(0, 99%, 40%);
}


body{

  height:100vh;
  width:100vw;
  background: white;
  margin:0px;

}


.logo_image{
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
}

.logo_text{
  font-size: 2rem;
  text-shadow: rgb(34, 34, 34) 0px 0px 1px;
  
  font-weight: bold;
  color:var(--alboRed);   
}

.tel_text {
 margin-left: 20px; 
 font-weight: bold;

}


.nav-link:hover {
  color: red!important;
  transition: 1s ease;
  background: rgb(245, 245, 245);
  border-radius: 10px;
  
  }
  
  .navbar-brand{
  display: inline-flex;
  align-items: center;
  
  }


  .main_image_container{
    position: relative;
  
    }
    
    .main_image{
    margin: auto;
    border: solid 2px rgb(196, 196, 196);
    opacity: 1;
    display: block;
    width:100%;
    height: auto;
    max-height: 100vh;
   object-fit: cover;
    }
    
    .main_image_text{
      position: absolute; 
    font-size: 2.5rem; 
    top:0;
    height: 100%;
    width:70%;
    padding-left: 10%;
    padding-right: 10%;
    display:flex;
    text-align: center;
    align-items: center;
    color:white;
    }
 

@media only screen and (max-width: 880px) {
.logo_image{
      width:1.5rem;
      height:1.5rem;
  }
  .logo_text{
  font-size: 1.5rem;
  }
  .tel_text{
      font-size: 0.6rem;
  }

  .main_image_text{
    font-size:1.5rem}
}

@media only screen and (max-width: 480px) {
  .tel_text {
    display: none;
    font-size: 1rem;
  }

  .main_image_text{
    font-size: 1rem;
  }

}




.section_title{
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color:rgb(70, 70, 70);
  display: block;
  text-align: center;
}
.section_text{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  color: grey;
  display: block;
  text-align: center;
}

.my-card{
  transition: 1s ease;
  background: rgb(245, 245, 245);
  border-radius: 10px;
  }


.card{
  max-width: 300px;
  min-width:200px
}

.card:hover{
background:var(--alboRed);
color:white;
}