

:root {
  --alboRed: hsl(0, 99%, 40%);

}


body{

  height:100vh;
  width:100vw;
  background: white;
  margin:0px;

}



.my-card{
transition: 1s ease;
background: rgb(245, 245, 245);
border-radius: 10px;
}

.nav-link:hover {
color: red!important;
transition: 1s ease;
background: rgb(245, 245, 245);
border-radius: 10px;

}

.navbar-brand{
display: inline-flex;
align-items: center;

}





.image {
margin: auto;
border: solid 2px rgb(196, 196, 196);
opacity: 1;
display: block;
width: 100%;
max-width: 1000px;
height: auto;
transition: .5s ease;
backface-visibility: hidden;
}

.middle {
width:80%;
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}

.hover-text-container:hover .image {
opacity: 0.5;
}

.hover-text-container:hover .middle {
opacity: 0.8;
}

.text{
background-color: #a30000;
opacity: 0.5;
color: white;
font-size: 16px;
padding: 16px 32px;
}


.logo_image{
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
}

.logo_text{
  font-size: 2rem;
  text-shadow: rgb(34, 34, 34) 0px 0px 1px;
  
  font-weight: bold;
  color:var(--alboRed);   
}

.tel_text {
 margin-left: 20px; 
 font-weight: bold;
 

}


@media only screen and (max-width: 880px) {
.logo_image{
      width:1.5rem;
      height:1.5rem;
  }
  .logo_text{
  font-size: 1.5rem;
  }
  .tel_text{
      font-size: 0.6rem;
  }
}

@media only screen and (max-width: 480px) {
  .tel_text {
    display: none;
    font-size: 0.6rem;
  }

  .middle{
    opacity: 1;

  }
  .middle>.text{
    font-size: 0.9rem;
  }

}



.test_image{
  border:solid 1px rgb(87, 87, 87);
  border-style:inset;
  margin:auto;
  width:100vw;
  max-height: 50vh;
  object-fit:cover;
}

.section_title{
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color:rgb(98, 98, 98);
  display: block;
  text-align: center;
}
.section_text{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  color: grey;
  display: block;
  text-align: center;
}

.card{
  max-width: 300px;
  min-width:200px
}


.card:hover{
background:var(--alboRed);
color:white;
}