
:root {
  --alboRed: hsl(0, 99%, 40%);
}


body{

  height:100vh;
  width:100vw;
  background: rgb(52, 52, 52);
  margin:0px;

}

.suplement-pages{
  min-height:calc(-6rem + 100vh );

}


h4{
  color: rgb(196, 196, 196);
}

p{
  color: rgb(176, 176, 176);
}

.navbar{
background: rgb(255, 255, 255);
}

.logo_image{
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
}

.logo_text{
  font-size: 2.5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: normal;
  color:var(--alboRed);  
}

.tel_text {
  font-size: 1rem;
 margin-left: 20px; 
 margin-top:17px;
 font-weight: bold;

}


.nav-link:hover {
  color: red!important;
  transition: 1s ease;
  background: rgb(245, 245, 245);
  border-radius: 10px;
  
  }
  
  .navbar-brand{
  display: inline-flex;
  align-items: center;
  
  }


  .main_image_container{
    position: relative;
  
    }
    
    .main_image{
    margin: auto;
    opacity: 1;
    display: block;
    width:100%;
    height: auto;
    max-height: 100vh;
   object-fit: cover;
    }
    
    .main_image_text{
      position: absolute; 
    font-size: 3rem; 
    top:0;
    height: 100%;
    width:70%;
    padding-left: 10%;
    padding-right: 10%;
    display:flex;
    text-align: center;
    align-items: center;
    color:white;
    }
 

@media only screen and (max-width: 950px) {
.logo_image{
      width:1.5rem;
      height:1.5rem;
  }
  .logo_text{
  font-size: 1.5rem;
  }
  .tel_text{
    display: none;
      font-size: 0.6rem;
  }

  .main_image_text{
    font-size:1.5rem}
}

@media only screen and (max-width: 480px) {
  .tel_text {
    display: none;
    font-size: 1rem;
  }

  .main_image_text{
    font-size: 1rem;
  }

}




.section_title{
  margin-top: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color:rgb(70, 70, 70);
  display: block;
  text-align: center;
}
.section_text{
  margin:auto;

  max-width: 1000px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  font-size: 1.2rem;
  color: grey;
  display: block;
  text-align: center;
}

.my-card{
  transition: 1s ease;
  background: rgb(245, 245, 245);
  border-radius: 10px;
  text-decoration: none;
  }

.card-img-top{
aspect-ratio: 2;
border-radius: 10px;
}


.card{
  text-decoration: none;
  max-width: 300px;
  min-width:200px
}

.card:hover{
background:var(--alboRed);
color:white;
}

a:hover, a:visited, a:link, a:active{
  text-decoration: none;
  color:black;
}

.footer{
display: flex;
align-items: center;
justify-content: center;
height:3rem;
background: grey;
margin-top: 3rem;
margin-bottom: 0px;

}
.footer_text{
color:white;
font-size:0.7rem;
text-align: center;

}

.slide-image{
  border-radius: 5px;
  border:solid rgb(255, 255, 255) 1px;
  display: block;
  position: relative;
  margin-top: 20vh;
  left:-50vw;
  width:40vw;
  opacity: 0;
}

.fixed-image{
  display: none;

}

.side-text{
  opacity: 0;
  position:absolute;
  margin-top: 20vh;
  left:2rem;
  border:none green 1px;
  display:flex;
  flex-direction: column;
  width:40vw;
  height:20vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}



@media only screen and (max-width: 880px) {
 .slide-image
 {
  display: none;
  height: 0px;
  width:0px;

 }
  .fixed-image
  {
    display: flex;
    margin: auto;
    margin-top: 2rem;
    border-radius: 10px;
    left:-50vw;
    width:90vw; 
  }

.side-text{
  position: relative;
  left:0px;
  margin: auto;
  margin-top:2rem;
  text-align: center;
  width:90vw;
  height:auto;
}

}


